@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove all default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure the root takes the full viewport */
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: transparent;
}
